html, head, body
{
    margin: 0;
    padding: 10px;
    background-color: #242424;
}

#demo-canvas
{
    width: 800px;
    height: 800px;
    background-color: #f19292;
    image-rendering: crisp-edges;
}

#error-box
{
    color: #ff0033;
    font-weight: 500;
    font-size: 18pt;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin: auto;
}

.center
{
    display: block;
    margin: auto;
}

.error-box-title
{
    color: #ffffff;
    border-bottom: 1px solid rgb(255, 255, 255);
}