html, head, body
{
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    background-color: #131314;
}

#container
{
    display: inline-block;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), #131314);
    width: 100vw;
    height: 200vh;
}

#main-canvas
{
    position: absolute;
    width: 100vw;
    height: 200vh;
    image-rendering: crisp-edges;
}

#overlay
{
    display: inline-block;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
}

#overlay a
{
    pointer-events: auto;
    text-decoration: none;
    color: white;
}

#overlay a:hover
{
    text-decoration: underline;
}

.floating-div-monitor
{
    position: absolute;
    text-align: center;
    color: #33FF00;
    font-size: 2.5vh;
    font-weight: 300;
    font-family: "Cascadia Code", monospace;
    /*border: 2px solid #33FF00;*/
}

.floating-div-clipboard
{
    position: absolute;
    color: black;
    font-size: 2.5vh;
    font-weight: 100;
    font-family: "Cascadia Code", monospace;
    /*border: 1px solid black;*/
}

p
{
    margin: 0;
    color: black;
    text-align: left;
    font-size: 2.4vh;
    font-weight: 300;
    font-family: "Cascadia Code", monospace;
}

.img
{
    width: 20vh;
    padding-right: 1vh;
    padding-top: 1vh;
    float: left;
}

.border
{
    color: black;
    font-size: 1.8vh;
    font-weight: 300;
    padding: 0.2vh;
    border: 1px solid black;
}

h1
{
    color: white;
    margin-bottom: 0;
    margin-top: 80px;
    font-size: 4vw;
    font-weight: 100;
    font-family: "Cascadia Code", monospace;
    animation: anim-bolden 6s infinite;
    animation-direction: alternate;
    animation-delay: 5s;
}

@keyframes anim-bolden
{
    from { letter-spacing: normal; }
    to { letter-spacing: 6px; }
}

h2
{
    color: white;
    font-size: 1.8vw;
    font-weight: 300;
    font-family: "Cascadia Code", monospace;
}

.fa-github, .fa-envelope
{
    font-size: 1.5vw;
}

@media (max-width: 1024px)
{
    h1
    {
        font-size: 10vw;
    }
    h2
    {
        font-size: 5vw;
    }
}

.fa-angle-double-down
{
    visibility: hidden;
    position: absolute;
    font-size: 10vh !important;
    color: white;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 2%;
}

.fa-chevron-left, .fa-chevron-right
{
    font-size: 4vw !important;
    color: white;
}

.left-btn, .right-btn
{
    position: absolute;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
    padding: 40px;
}

.left-btn
{
    left: 30%;
    top: 150%;  
}

.right-btn
{
    right: 30%;
    top: 150%;
}

.left-btn:hover, .right-btn:hover
{
    opacity: .8;
}

.anim-bounce-in
{
    animation: bounce-in 2s;
}

@keyframes bounce-in 
{
    0% 
    {
        opacity: 0;
        transform: scale(0.3);
    }
    50% 
    {
        opacity: 1;
        transform: scale(1.0);
    }
    70% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

.center
{
    display: block;
    margin: auto;
}

.anim-typewriter
{
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    border-right: 2px solid #33FF00;
    animation: typewriter 2s steps(22) 1s 1 normal both,
               blink-cursor 0.6s steps(22) infinite normal;
}

.anim-fadein
{
    animation: fadein 1.5s;
}

@keyframes fadein
{
    from { opacity: 0; }
    to { opacity: 1; }
}

.anim-fadeout-in
{
    animation: fadeout-in 3s;
}

@keyframes fadeout-in
{
    0% { opacity: 0.8; }
    20% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes typewriter
{
    from { width: 0; }
    to { width: 10ch; } /*default value, dynamically changed to text length*/
}

@keyframes blink-cursor {
  from { border-right-color: #33FF00; }
  to { border-right-color: transparent; }
}